/* Remove default padding from the plugin's view container */
.workspace-leaf-content[data-type="openaleph-search-view"] .view-content {
    padding: 0;
}
.workspace-leaf-content[data-type="openaleph-search-view"] input[type="search"] {
    border-radius: var(--search-input-radius);
}

.openaleph-search-row {
    display: flex;
    gap: 6px;
    margin: var(--size-4-3) var(--size-4-3) var(--size-4-2);
}

.openaleph-search-input-container {
    flex-grow: 1;
}

.openaleph-results {
    overflow-y: auto;
    padding: 0 var(--size-4-2) var(--size-4-2);
}

.openaleph-results-total {
    font-size: 0.8em;
}

.openaleph-result-title {
    font-weight: 600;
    margin-bottom: var(--size-4-1);
}

.openaleph-result-snippet {
    font-size: 0.85em;
    opacity: 0.8;
    margin-bottom: var(--size-4-2);
}

.openaleph-source-box {
    border: 1px solid var(--background-modifier-border);
    border-radius: 6px;
    margin-bottom: var(--size-4-3);
}

.spin svg {
    animation: spin-rotation 0.8s linear infinite;
}

@keyframes spin-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.instance-connection-valid svg {
    color: var(--color-green);
}

.instance-connection-invalid svg {
    color: var(--color-red);
}

.openaleph-facet-popover {
    margin: 0;
    inset: unset;
    border: 0;
    position: fixed;
    top: var(--popover-top);
    left: var(--popover-left);
}

.openaleph-facet-list {
    max-height: 75vh;
    overflow-y: scroll;
}
